# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo

# ======================
# Virtual environments
# ======================
.venv/
venv/
env/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# Data outputs
# ======================
data/*.csv


# ======================
# Logs
# ======================
*.log

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

